.btn {
    margin: auto;
    @include flex-center;
    max-width: fit-content;
    padding: 1.5rem 4rem;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.1rem;
    border-radius: 10rem;
    color: white;
    background-image: linear-gradient(to top left, $colour-primary, $colour-secondary);
    cursor: pointer;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
    &:hover{
        background-image: linear-gradient(to top left, lighten($color: $colour-primary, $amount: 5%), lighten($color: $colour-secondary, $amount: 5%));
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    }
    &__heart {
        height: 2rem;
        width: 2rem;
        border: none;
        @include flex-center;
        cursor: pointer;
        position: relative;
        background-color: black;
        font-size: 2rem;
        padding: 1rem;
        z-index: 99;
        &--whiteBg{
            background-color: white !important;
        }
        & i {
            background-color : $background-light;
            mix-blend-mode: lighten;
            position: absolute;
        }
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s;
            content: "";
            background-image: linear-gradient(to top left, $colour-primary, $colour-secondary);
        }
        &:hover:before {
            animation: heart-filled-opacity 0.8s cubic-bezier(0.1, -0.6, 0.2, 0) both;
        }
        &:hover .far {
            animation: heart-outline-opacity 0.8s cubic-bezier(0.1, -0.6, 0.2, 0) both;
        }
    }
}