/* Media queries */
@mixin mobile {
    @media screen and (max-width: 768px) {
      @content;
    }
  }

@mixin tablet {
    @media screen and (min-width: 768px) and (max-width: 992px) {
      @content;
    }
  }

@mixin desktop {
    @media screen and (min-width: 992px) {
      @content;
    }
  }

@mixin fonts($fontName) {
  font-family: map-get($fonts, $fontName)
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}